/* About Head  */
.countdown {
    font-size: 24px;
    margin-top: 20px;
}
#about-head{
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}

#about-app{
    text-align: center;
}

#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@media (max-width:477px) {

/* About Page  */

#about-head{
    flex-direction: column;
}

#about-head img {
    width: 100%;
    margin-bottom: 20px;
}

#about-head div{
    padding-left: 0px;
}

#about-app .video{
    width: 100%;
}

#feature{
    justify-content: space-between;
  }

  #feature .fe-box{
    margin: 0 0 15px 0;
  }
}
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span{
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 26px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    padding: 10px ;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
    display: flex;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

/* Team  */

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    background-color: #088178;
    color: #fff;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

/* Responsive */

@media (max-width:799px){
    
    #form-details{
        padding: 40px;
    }

    #form-details form{
        width: 50%;
    }
}

@media (max-width:477px) {

    #contact-details{
        flex-direction: column;
    }
    
    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map{
        width: 100%;
    }

    #form-details{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form{
        width: 100%;
        margin-bottom: 30px
    }
}